<div class="container">
  <table aria-describedby="Student Results" class="table table-striped">
    <thead>
      <tr>
        <th id="item" *ngFor="let item of columnHeader" (click)="sort(item)">{{item | titlecase}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of studentData;let index=index">
        <td>{{student.rollNo}}</td>
        <td>{{student.name}}</td>
        <td>{{student.english}}</td>
        <td>{{student.mathematics}}</td>
        <td>{{student.biology}}</td>
        <td>{{student.chemistry}}</td>
        <td>{{student.psychology}}</td>
        <td>{{student.sociology}}</td>
        <td>{{student.geography}}</td>
      </tr>
    </tbody>
  </table>
</div>