<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" *ngFor="let item of columnHeader" (click)="sort(item)">{{item | titlecase}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of studentData">
        <th scope="row">{{student.rollNo}}</th>
        <td>{{student.name}}</td>
        <td>{{student.english}}</td>
        <td>{{student.mathematics}}</td>
        <td>{{student.biology}}</td>
        <td>{{student.chemistry}}</td>
        <td>{{student.psychology}}</td>
        <td>{{student.sociology}}</td>
        <td>{{student.geography}}</td>
      </tr>
    </tbody>
  </table>
</div>