<div class="container">
  <div class="row">
    <div class="col-md-5 comp-border">
      <div>
        <app-display-timer></app-display-timer>
      </div>
    </div>
    <div class="col-md-6 comp-border">
      <div>
      <app-timer-controller-with-service></app-timer-controller-with-service>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
    <app-activity-log></app-activity-log>
    </div>
    <div class="col-md-6">
      <app-timer-event-count></app-timer-event-count>
    </div>
  </div>
</div>




