<div class="container">
  <form>
      <div class="form-group">
        <label class="control-label" for="timerLimit">Enter Timer Limit:</label>
        <div>
          <input type="number" min="1" class="form-control" [(ngModel)]="timerLimit" name="timerLimit" id="timerLimit">
        <span class="errorMessage">{{countDownService.errorMessage}}</span>
        </div>
      </div>
      
    <div class="row">
      <div>
        <button type="button" (click)="startPauseClick()" class="btn btn-danger">Start/Pause</button>
        <button type="reset" (click)="reset()"  class="btn btn-danger">reset</button>
      </div>
    </div>
    <div class="row">
      <div class="pause-history">
        <span *ngFor="let log of countDownService.pauseLog">{{log}}</span>
      </div>
    </div>
  </form>
</div>