<div class="container">
    <div class="box">
        <div class="box">
            <div class="box">
                <div class="box">
                    <div class="box">
                        <div class="box">
                            <div class="box">
                                <div class="box">
                                    <div class="floating-text">
                                        <marquee [scrollAmount]="20">
                                            Floating Text
                                        </marquee>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>