<div class="container">
  <div class="row">
    <div class="col-md-5 comp-border">
        <app-display-timer [timer]="timerLimit"></app-display-timer>
    </div>
    <div class="col-md-6 comp-border">
      <app-time-controller [errorMessage]="errorMessage" [pauseLog]="pauseLog" (startClickEvent)="startTimer($event)" (resetClickEvent)="reset()"></app-time-controller>
  </div>
  </div>
  <div class="row">
    <div class="col-md-5 comp-scroll">
    <app-activity-log [startStopLog]="startStopLog"></app-activity-log>
    </div>
    <div class="col-md-6">
      <app-timer-event-count [startCount]="startCount" [pauseCount]="pauseCount"></app-timer-event-count>
    </div>
  </div>
</div>




