<div class="product-container container">
  <nav class="navbar navbar-dark bg-primary justify-content-end pe-3">
    <div class="btn-group" role="group" aria-label="navigation menu">
      <button type="button" value="gridView" class="btn btn-danger" (click)="isGrid = true" [ngClass]="{active:isGrid}">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-grid"
          viewBox="0 0 16 16"
        >
          <path
            d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"
          />
        </svg>
        Grid
      </button>
      <button type="button" value="listView" class="btn btn-danger"  (click)="isGrid = false"[ngClass]="{active:!isGrid}">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-list"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
          />
        </svg>
        List
      </button>
    </div>
    <select class="form-select" (change)="priceFilter($event)" aria-label="Price filter">
      <option value="">Price</option>
      <option value="5000">More then 5000</option>
      <option value="7000">More then 7000</option>
      <option value="9000">More then 9000</option>
    </select>
  </nav>
  <div class="product-wrapper" tabindex="0" aria-label="List of products" [ngClass]="{list:!isGrid}">
    <div class="product-box" *ngFor="let product of productList; let i = index">
      <div class="card product"  tabindex="0" [attr.aria-label]="product.Id + ': product description : ' + product.Title + ': Price : ' + product.Price">
        <div class="img-wrapper">
          <img
            [src]="product.img"
            [alt]="product.id + i"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <p class="card-title">{{ product.Title }}</p>
          <p class="card-text"> Price : {{ product.Price }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
