/* You can add global styles to this file, and also import other style files */

*{padding: 0; margin: 0; box-sizing: border-box;}
body { font-family: Verdana, Geneva, Tahoma, sans-serif; }
.counter-container { padding: 50px 0;}
.counter-container .card {margin-bottom: 40px;}